@import "~bulma/sass/utilities/initial-variables"

//$primary: #0e4d8f
$primary: #003a83
//$primary: #004394
$primary-invert: #ffffff

nav
  border-bottom: $primary solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

.home-video-iframe
  height: 50vh
//.home-video-iframe
//  @include until($desktop)
//    height: 150px
//
//  @include from($tablet)
//    height: 600px


.home-page-hero
  height: 80vh

+desktop
  .home-page-hero
    background-position: 100% 50%
    background-size: 100%

  .HomePage-boyImage
    height: 115vh

  //height: 80vw

+mobile
  .HomePage-boyImage
    //fix columns margin
    padding: 0
    height: 0


.header-virarium
    background-position: center
    background-repeat: no-repeat
    background-size: 100%


.header-phone
  padding-left: 60px
  font-size: 20px
  font-weight: bold

.header-phone-mobile
  font-size: 3vw
  font-weight: bold

.virariumPlan
  border: 1px solid #eaecee
  height: 100%

.virariumPlan-recommended
  box-shadow: 0 8px 12px 0 rgba(122,122,122,0.2)
  transform: scale(1.05)

.virariumPlan-header
  padding: 24px
  height: 150px

.virariumPlan-body
  height: 240px
  background-color: #f5f5f5

.virariumPlan-bodyContent
  padding: 24px
  text-align: center
