@import "~bulma/sass/utilities/initial-variables"

//$primary: #0e4d8f
$primary: #003a83
//$primary: #004394
$primary-invert: #ffffff

nav
  border-bottom: $primary solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

.home-video-iframe
  @include until($desktop)
    height: 150px

  @include from($tablet)
    height: 600px


.header-virarium
    background-position: center
    background-repeat: no-repeat
    background-size: 100%
